.header{
  width: 23%;
  height: 800px;
  background-color: #F8F9FA;
  .logo{
    margin: $mg-4;
    a{
      @include imgReplaceTxt;
      color: $primary;
      font-size: 48px;
    }
  }
  .content{
    height:86%;
  }
  .nav-item{
    height: 32px;
    margin: 6px 0;
    padding-left: $mg-4;
    &:hover{
      background-color: $dark;
    }
    a{
      color: $primary;
    }
  }
  // nav 的 assignment
  .choseNav{
    border-left: 4px solid $secondary;
    &:hover{
      background-color: #F8F9FA;
    }
  }
  .userPhoto{
    margin-right: $mg-2;
    img{
      width: 40px;
      height: 40px;
      border-radius: 24px;
    }
  }
  .user{
    margin-left: $mg-4;
    margin-bottom: $mg-4;
    p{
      margin-bottom: 0;
    }
    .email{
      font-size: $font-sm;
    }
  }
}
