// 文字設定
.boldTxt{
  font-weight: 800;
}

.lanCss{
  font-family: $font-roboto;
  background-color: $light;
  color:$secondary;
}

.fz-ss{
  font-size: $font-ss;
}


// 間隔
.mb-sm{
  margin-bottom: $mg-sm;
}

// 顏色
.gray-600{
  color:#6c757d;
}

.chose{
  background-color: $light;
}


